#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: "Roboto";
}

.App {
  background: black;
  display: flex;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
